<div class="main-content">
        <div class="col-md-6">
            <h2 class="text-center">Add new address</h2>
            <form>
              <div class="form-group">
                <label for="address_info">Address_Info:</label>
                <input type="address_info" [(ngModel)]="address.address_info" placeholder="address_info" name="Name" class="form-control" id="address_info">
              </div>
            
              <div class="form-group">
                <label for="country_id">Country_id:</label>
                <input [(ngModel)]="address.country_id" placeholder="country_id" name="country_id" class="form-control" id="country_id">
              </div>
              <div class="form-group">
                <label for="password">State_Id:</label>
                <input  [(ngModel)]="address.state_id" placeholder="state_id" name="state_id" class="form-control" id="state_id">
              </div>             
              <button class="btn btn-success" (click)="addAddress()">Add Address</button>
            </form>
            </div>
          </div>